################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestBlazorApp/obj
/TestBlazorApp/bin/Debug/netcoreapp3.1
